<!DOCTYPE html>
<html>

<head>
    <link rel="stylesheet" href="/css/styles.css">
</head>

<body>
    {{>header}}
    <img src={{image}}>
    <br>
    <h3>
        {{errorMsg}}
    </h3>
    <h3>{{>footer}} </h3>
</body>

</html>