<!DOCTYPE html>
<html>

<head>
    <link rel="stylesheet" href="/css/styles.css">
</head>

<body>
    {{>header}}
    <img src="/img/help.jpg">
    <br>
    <h3>
        {{ content }} <br>
        {{ contactUs}}<br>
        {{ hours}}
    </h3>
    <h3>{{>footer}} </h3>
</body>

</html>